@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Nunito+Sans&family=Quicksand&family=Titillium+Web:wght@200&display=swap');

body {
    background-color: oldlace;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 700;
    color: slategray;
    margin: 20px 5px 5px 30px;
}

#container {
    display: flex;
    justify-content: flex-start;
}

#item-1 {
    min-height: 150px;
}

#item-2 {
    min-height: 150px;
    width: 10em;
    padding: 5px 10px 0px 20px;
}

h1 {
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
    font-size: 24px;
    font-weight: 700;
    color: tomato;
}

#loading-icon {
    display: none;
}

#note-title, #note-text, #new-note {
    margin: 10px 0px 5px 0px;
}

#note-priority {
    display: inline-block;
    width: 100px;
    height: 35px;
    padding-left: 15px;
    margin: 10px 0px 10px 0px;
}

#notes-list {
    margin: 30px 0px 10px 0px;
}

#submit {
    display: inline-block;
    width: 150px;
    height: 40px;
}

#note-priority, #submit {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 5px;
    border: 1px;
    color: mintcream;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;  
}

#submit-message {
    display: none;
}

#loader {
    height: 26px;
    width: 26px;
    display: inline-block;
    margin: 15px 0px 5px 25px;
}

#submit-area {
    height: 26px;
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 20px 0px;
}

#tasks {
    font-family: 'Quicksand', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: 200;
    vertical-align: middle;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
}

#message {
    height: 25px;
    position: absolute;
    margin: 5px 0px 20px 0px;
}

#message p {
    position: relative;
    margin-block-start: 0;
    color: lightseagreen;  
}

table, tr, th, td {
    padding: 15px 15px 15px 15px;
    text-align: left;
}

#tasks {
    width: 400px;
    border: solid 1px grey;
}

#tasks tbody tr td:nth-child(5) {
    position: absolute;
}

#tasks tbody tr td img {
    display: none;
    position: relative;
}

#delete tbody tr td img {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    border-radius: 5px;
    border: 1px;
    color: mintcream;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;  
}



@media only screen and (max-width: 600px) {
   body {
        height: auto;
        margin: 0px 0px 5px 0px;
    }
}
/* Color Chart Reference: https://www.w3schools.com/colors/colors_groups.asp  */