/*https://fonts.google.com/*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@300;400&display=swap');

body {
    background-color: rgb(250, 245, 245);
}

header, main, footer {  
    background-color: rgb(250, 245, 245);
    width: 700px;
    margin: 0 auto;
} 

header {
    position: relative;
}
/* ul position or ex.top: 10px */
nav {
    width: 350px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: right;
}

nav ul {
    padding-right: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
}

/*Pseudo-Classes LoVe,HAte*/
nav ul li a:link {
    color: navy;
}

nav ul li a:visited {
    color: navy;
}

nav ul li a:hover {
    color: red;
}

nav ul li a:active {
    color: red;
}

footer p#copy-notice {
    text-align: center;
    color: navy;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 0;
}

/* Contact Page - 960 grid*/

main div#first-column, main div#second-column, main div#first-column form textarea {
    vertical-align: top;
    display: inline-block;
}

main div#first-column {
    width: 467px;
}

main div#first-column form label {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 18px;
    font-size: 18px;
    color: darkgray;
}

main div#first-column form input, main div#first-column form textarea {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
    font-size: 18px;
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
}

main div#first-column form textarea {
    width: 331px;
    height: 75px;
}

main div#second-column {
    width: 233px;
    height: 300px;
    margin-top: 18px;
}

main div#second-column p {
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    color: darkgray;
}

main div#second-column h2 {
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: gray;
    text-transform: uppercase;
}

main div#second-column a {
    color: darkcyan;
    text-decoration: none;
}

/* Services Page */

main#services-page table td, main#services-page th {
    /* border: dashed grey 1px; */
}

main#services-page {
    margin-top: 20px;
}

main#services-page table thead {
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    color: cornflowerblue
}

main#services-page table thead th {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

main#services-page table tbody td {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding: 18px;
}

main#services-page table .odd-row {
    background-color: cornsilk;
}