/*https://fonts.google.com/*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@300;400&display=swap');

body {
    background-color: rgb(250, 245, 245);
}

header, main, footer {  
    background-color: rgb(250, 245, 245);
    width: 700px;
    margin: 0 auto;
} 

header {
    position: relative;
}
/* ul position or ex.top: 10px */
nav{
    width: 350px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: right;
}

nav ul {
    padding-right: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
}

/*Pseudo-Classes LoVe,HAte*/
nav ul li a:link {
    color: navy;
}

nav ul li a:visited {
    color: navy;
}

nav ul li a:hover {
    color: red;
}

nav ul li a:active {
    color: red;
}

main {
}

footer p#copy-notice {
    text-align: center;
    color: navy;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 0;
}

/* Contact Page - 960 grid*/

main div#first-column, main div#second-column, main div#first-column form textarea {
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 6px;
    border-radius: 5px;
}

main div#first-column {
    width: 467px;
    display: inline-block;
    padding: 18px;
}

main div#first-column form label{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-left: 18;
    font-size: 24px;
}

main div#first-column form input{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-left: 18;
}

main div#first-column form textarea{
    width: 331px;
    height: 50px;

}

main div#second-column {
    background-color: blue;
    width: 233px;
}